*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif, Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    background-color: #24292d;
    color: #fff;
}
header{
    text-align: center;
}
header a {
    position: static;
    text-align: center;
    font-size: 70px;
    margin-top: 0;
    text-decoration: none;
    color: #fff;
    align-items: center;
    cursor: pointer;
}
section .sous-header p{
    text-align: center;
    font-size: 50px;
}
main p{
    font-size: large;
    margin-left: 65px;
    margin-right: 65px;
}
main p span{
    color: red;
}
main .img {
    text-align: center;
}
main .img img{
    border-radius: 10px;
    max-width: 1300px;
    width: 100%;
}
main .photo2{
    margin-top: 110px;
}
footer{
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    background: #323840;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 60px 0;
    border-radius: 5px;
}
footer span a {
    text-decoration: none;
    color: #2f55d4;
    text-align: center;
}
footer span p{
    font-size: 12px;
}