*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif ,Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    background-color: #24292d;
    color: #fff;
}

/* header */
header{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
}
header nav {
    text-align: center;
    font-size: 70px;
}
header .m-center{
    text-align: center;
    flex-wrap: wrap;
    margin:20px;
    margin-left: 100px;
}
 
header .m-center a{
    text-decoration: none;
    color: #fff;
    font-size: 70px;
}
header nav input{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background: #323840;
    color: #fff;
    font-size: 20px;
    margin-top: -100%;
    margin: 20px;
}
/* header fin */

/* section */
section .sous-header{
    text-align: center;
    font-size: 50px;
    margin-top: -10px;
    margin-bottom: 70px;
}

section .img{
    text-align: center;
}
section .img img{
    border-radius: 10px;
    max-width: 1300px;
    width: 80%;
    transition: 1s;
}
.img img:hover{
        filter: blur(var(--value, 1rem)); --value:2px;
    transform: scale(1.1);
}
section .expli{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
}
section .expli a{
    text-decoration: none;
    color: #fff;
}

section .expli a i{
    margin-top: 20px;
}

section .button {
    text-align: center;
    width: 100%;
}
section .button button{
    cursor: pointer;
    padding: 20px 35px;
    border-radius: 15px;
    border: none;
    background: #323840;
    color: #fff;
    font-size: 20px;
}

section .button button a{
    text-decoration: none;
    color: #fff;
}
section .button input{
    cursor: pointer;
    padding: 20px 35px;
    border-radius: 15px;
    border: none;
    background: #323840;
    color: #fff;
    font-size: 20px;
}
section .indicateur{
    margin-top: 20px;
}
section .indicateur input {
    cursor: pointer;
    padding: 20px 35px;
    border-radius: 15px;
    border: none;
    background: #323840;
    color: #fff;
    font-size: 20px;
}

/* section fin */

/* footer */
footer{
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
    background: #323840;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 60px 0;
    border-radius: 5px;
}
footer span a {
    text-decoration: none;
    color: #2f55d4;
    text-align: center;
}
footer span a .logo i{
    color: #fff;
}
/* footer fin */
